@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 50px;

}

.hero {
    margin-top: 50px;
}

.hero h1 {
    color: #093467;
    font-family: "Montserrat", sans-serif;
}

.hero h2 {
    color: #5a6ca0;
    margin-bottom: 10px;
}

.hero nav {
    width: 600px;
    margin-bottom: 25px;
}

.hero nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hero nav a {
   text-decoration: none;
   color: black;
}

.spacing {
    margin-left: 5px;
}

.hero article p {
    font-size: 17px;
}