@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 50px;      
    margin-right: 50px; 
}

.description {
    margin-top: 50px;
}

.description h1 {
    color: #093467;
    font-family: "Montserrat", sans-serif;
}

.description h2 {
    color: #5a6ca0;
    margin-bottom: 10px;
}

.description nav {
    width: 600px;
    margin-bottom: 25px;
}

.description nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.description nav a {
   text-decoration: none;
   color: black;
}

.spacing {
    margin-left: 5px;
}

.information_block {
    margin-top: 20px;
}

.information_block article {
    margin-top: 20px;
}

.description article p {
    font-size: 17px;
}

.titles {   
    display: flex;
}

.titles h2 {
    margin-bottom: 5px;
}

.titles ul {
    padding-left: 20px;
    margin-bottom: 5px;
}

.titles ul li {
    margin-bottom: 5px;
}

.titles h3 {
    margin-bottom: 5px;
}

.titles address {
    margin-bottom: 5px; 
}

.titles span {
    margin-right: 30px;
    font-weight: 600;
}

.titles div {
    margin-top: -5px;
}

.textdec {
    color: #093467;
    margin-bottom: 5px;
}

.education span {
    margin-right: 120px;
}

.education p {
    margin-bottom: 5px;
}

.skills ul {
    list-style: none;
    margin-left: 155px;
}

.skills ul li {
    margin-bottom: 10px;
}

.italicFont {
    font-style: italic;
    margin-bottom: 5px;
}

.weightFont {
    font-weight: bold;
}