@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
}

.hero {
    margin-top: 50px;
}

.hero h1 {
    color: #093467;
    font-family: "Montserrat", sans-serif;
}

.hero h2 {
    color: #5a6ca0;
    margin-bottom: 10px;
}

.hero nav {
    width: 600px;
    margin-bottom: 25px;
}

.hero nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hero nav a {
   text-decoration: none;
   color: black;
}

.spacing {
    margin-left: 5px;
}

.hero_2 {
    margin-top: 20px;
}

.hero_2 article {
    margin-top: 20px;
}

.hero article p {
    font-size: 17px;
}

.titles {   
    display: flex;
}

.titles h2 {
    margin-bottom: 5px;
}

.titles ul {
    padding-left: 20px;
    margin-bottom: 5px;
}

.titles ul li {
    margin-bottom: 5px;
}

.titles h3 {
    margin-bottom: 5px;
}

.titles address {
    margin-bottom: 5px; 
}

.titles span {
    margin-right: 30px;
    font-weight: 600;
}

.titles div {
    position: relative;
    top: -5px;
}

.textdec {
    color: #093467;
    margin-bottom: 5px;
}

.article_2 span {
    margin-right: 120px;
}

.article_2 p {
    margin-bottom: 5px;
}

.article_3 ul {
    list-style: none;
    margin-left: 155px;
}

.article_3 ul li {
    margin-bottom: 10px;
}